body {
    background-color: white;
}

#cadre {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid black;
    border-radius: 100%;
}

#cadre::after {
    content: "";
    background-color: black;
    position: absolute;
    margin: auto;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid black;
    border-radius: 100%;

}

#heure {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 250px;
    top: 50%;
    right: 50%;
    transform-origin: top left;
    transform: rotate(90deg);
}

#minute {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 250px;
    top: 50%;
    right: 50%;
    transform-origin: top left;
    transform: rotate(30deg);
}

#seconde {
    position: absolute;
    background-color: black;
    width: 2px;
    height: 250px;
    top: 50%;
    right: 50%;
    transform-origin: top left;
    transform: rotate(60deg);
}

/*
.nombre {
    font-size: 3em;;
}

#nombre12 {
    position: absolute;
    top: 10px;
    right: 0;
    left: 210px;
    bottom: 0;
}

#nombre1 {
    position: absolute;
    top: 40px;
    right: 0;
    left: 350px;
    bottom: 0;
}

#nombre2 {
    position: absolute;
    top: 100px;
    right: 0;
    left: 430px;
    bottom: 0;
}