body {
    background-color: rgb(255, 255, 255);
}

#cadre {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgb(0, 111, 155);
    border-radius: 100%;
    box-shadow: 3px 3px 1px 3px rgb(0, 0, 0);
}

#cadre::after {
    content: "";
    background-color: rgb(53, 64, 126);
    position: absolute;
    margin: auto;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
}

#cadre::before {
    content: "";
    background-color: rgba(69, 85, 175, 0.596);
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 3px solid rgb(0, 111, 155);

}

#affichageNum {
    display: flex;
    position: absolute;
    top: 57%;
    left: 41%;
}

.heureNum, .minuteNum, .secondeNum {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-items: center;
}

#heure {
    position: absolute;
    background-color: rgb(87, 136, 201);
    width: 7px;
    height: 240px;
    top: 2%;
    right: 49%;
    transform-origin: bottom left;
    border-radius: 90px 90px 0px 0px;
}

#minute {
    position: absolute;
    background-color: rgb(69, 38, 206);
    width: 3px;
    height: 240px;
    top: 2%;
    right: 49%;
    transform-origin: bottom left;
}

#seconde {
    position: absolute;
    background-color: black;
    width: 1px;
    height: 240px;
    top: 3%;
    right: 50%;
    transform-origin: bottom right;
}


.nombre {
    font-size: 3em;;
}

#nombre12 {
    position: absolute;
    top: 10px;
    right: 0;
    left: 220px;
    bottom: 0;
}

#nombre3 {
    position: absolute;
    top: 220px;
    right: 0;
    left: 450px;
    bottom: 0;
}

#nombre6 {
    position: absolute;
    top: 450px;
    right: 0;
    left: 240px;
    bottom: 0;
}

#nombre9 {
    position: absolute;
    top: 220px;
    right: 0;
    left: 10px;
    bottom: 0;
}
